<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to file  -->
        <target xsi:type="ColoredConsole" name="console" encoding="utf-8"
                detectOutputRedirected="true" enableAnsiOutput="true">
            <layout type='JsonLayout'>
                <attribute name='time' layout='${longdate:universalTime=true}' />
                <attribute name='scope' layout='${logger}'/>
                <attribute name='level' layout='${level:upperCase=true}'/>
                <attribute name="user" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name='agent' encode="false" 
                                layout='${aspnet-request-useragent}' />
                        <attribute name='ip' encode="false"
                                layout='${aspnet-request-ip}' />
                    </layout>
                </attribute>
                <attribute name="request" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name='url' encode="false" 
                                layout='"${aspnet-request-url:IncludePort=true}"' />
                        <attribute name='query' encode="false"
                                layout='${aspnet-request-querystring:OutputFormat=JSON}' />
                    </layout>
                </attribute>
                <attribute name='action' layout='${aspnet-mvc-action}' />
                <attribute name="responce" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name="status" layout="${aspnet-response-statuscode}" />
                        <attribute name="message" layout="${message:raw=true}" />
                        <attribute name="properties" encode="false" >
                            <layout type='JsonLayout' includeAllProperties="true"
                                    maxRecursionLimit="4" />
                        </attribute>
                        <attribute name="exception" layout="${exception:format=tostring}" />
                    </layout>
                </attribute>
            </layout>
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>